.container {
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
}

.delivery {
    margin-bottom: 10rem;
}

.deliveryInfos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.deliverySubtitle {
    text-align: center;
    font-size:18px;
    color: #666;
}

.deliveryTitle {
    text-align: center;
    color: #f00;
    font-size: 28px;
}

.deliveryInfos {
    flex: 1;
    display: flex;
    flex-direction: center;
    gap: 40px;
    align-items: center;
}
.deliveryInfo > h3 {
    text-align: center;
    color : #333;
    font-size: 15px;
    font-weight: bold;
}

.firstImg {
    width: 275px;
}

.secondImg {
    width: 250px;
    margin-bottom: -1.5rem;
}

.thirdImg {
    width: 240px;
}

@media only screen and (max-width: 768px) {
    .delivery {
        padding-left: 15rem;
        margin-top: -30rem;
    }
}

@media only screen and (max-width: 425px) {
    
    .deliveryInfos {
        padding-left: 10rem;
    }
    .deliveryInfo > h3 {
        text-align: center;
        color : #333;
        font-size: 12px;
        font-weight: bold;
    }

    .deliveryTitle {
        
        font-size: 25px;
        
    }
}

@media only screen and (max-width: 425px) {
    

    .deliveryTitle {
        font-size: 20px
    }
}
